<footer class="footer">
   <div class="footer__container-m">
      <div class="footer__content">
         <div class="footer__info-col info-col">
            <a href="https://smmfox.ua/" class="info-col__logo"><img src="@img/logo-black.svg" alt="logo" /></a>
            <p data-lg="footer.address" class="info-col__text">г. Киев, ул. Крещатик, 13</p>
            <p class="info-col__text">© 2007-2023</p>
         </div>
         <div class="footer__payments-col payments">
            <div class="payments__list">
               <div class="payments__item">
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-apple-pay"></use>
                  </svg>
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-apple-pay-w"></use>
                  </svg>
               </div>
               <div class="payments__item">
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-google-pay"></use>
                  </svg>
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-google-pay-w"></use>
                  </svg>
               </div>
               <div class="payments__item">
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-mastercard"></use>
                  </svg>
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-mastercard-w"></use>
                  </svg>
               </div>
               <div class="payments__item">
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-visa"></use>
                  </svg>
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-visa-w"></use>
                  </svg>
               </div>
               <div class="payments__item">
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-pb-24"></use>
                  </svg>
                  <svg>
                     <use xlink:href="@img/icons/icons.svg#svg-pb-24-w"></use>
                  </svg>
               </div>
            </div>
         </div>
         <div class="footer__contacts footer-contacts">
            <div class="footer-contacts__content">
               <div class="footer-contacts__social-list">
                  <a href="viber://chat?number=+380937771331" class="footer-contacts__social-item">
                     <svg>
                        <use xlink:href="@img/icons/icons.svg#svg-viber"></use>
                     </svg>
                  </a>
                  <a href="whatsapp://send?phone=+380937771331" class="footer-contacts__social-item">
                     <svg>
                        <use xlink:href="@img/icons/icons.svg#svg-whatsapp"></use>
                     </svg>
                  </a>
                  <a href="https://www.facebook.com/smmfox.ua" class="footer-contacts__social-item">
                     <svg>
                        <use xlink:href="@img/icons/icons.svg#svg-facebook"></use>
                     </svg>
                  </a>
                  <a href="https://www.instagram.com/smmfox.ua" class="footer-contacts__social-item">
                     <img src="@img/instagram.svg" alt="instagram" />
                  </a>
                  <a href="https://t.me/smmfoxua" class="footer-contacts__social-item">
                     <svg>
                        <use xlink:href="@img/icons/icons.svg#svg-telegram"></use>
                     </svg>
                  </a>
               </div>
               <a class="footer-contacts__phone" href="tel:+380937771331">+38 (093) 777 13 31</a>
               <a class="footer-contacts__email" href="mailto:info@smmfox.ua">info@smmfox.ua</a>
            </div>
         </div>
         <button data-goto=".header" type="button" class="footer__return-btn">
            <svg>
               <use xlink:href="@img/icons/icons.svg#svg-arrow"></use>
            </svg>
         </button>
      </div>
   </div>
</footer>
