<header class="header">
   <div class="header__container-m">
      <div class="header__content">
         <div class="header__body">
            <a href="https://smmfox.ua/" class="header__logo header__logo_pc"><img src="@img/logo-black.svg" alt="logo" /></a>
            <nav class="header__menu">
               <ul class="header__menu-list">
                  <li data-lg="header.nav1" data-goto=".home" class="header__menu-item">Главная</li>
                  <li data-lg="header.nav2" data-goto=".services" class="header__menu-item">Услуги</li>
                  <li data-lg="header.nav3" data-goto=".benefits" class="header__menu-item">Преимущества</li>
               </ul>
            </nav>
            <a class="header__phone" href="tel:+380937771331">+38 (093) 777 13 31</a>
            <div class="header__languages">
               <button value="ru" data-language="ru" type="button" class="header__lang-item">RU</button>
               <button value="ua" data-language="ua" type="button" class="header__lang-item">UA</button>
            </div>
            <div class="header__social">
               <a target="_blank" href="viber://chat?number=+380937771331" class="header__social-item">
                  <img src="@img/viber-white.svg" alt="viber" />
               </a>
               <a target="_blank" href="whatsapp://send?phone=+380937771331" class="header__social-item">
                  <img src="@img/whatsapp-white.svg" alt="whatsapp" />
               </a>
               <a target="_blank" href="https://www.facebook.com/smmfox.ua" class="header__social-item">
                  <img src="@img/facebook-white.svg" alt="facebook" />
               </a>
               <a target="_blank" href="https://www.instagram.com/smmfox.ua" class="header__social-item">
                  <img src="@img/instagram-white.svg" alt="instagram" />
               </a>
               <a target="_blank" href="https://t.me/smmfoxua" class="header__social-item">
                  <img src="@img/telegram-white.svg" alt="telegram" />
               </a>
            </div>
         </div>
         <a href="https://smmfox.ua/" class="header__logo header__logo_mob header__logo_mob-black"
            ><img src="@img/logo-black.svg" alt="logo"
         /></a>
         <a href="https://smmfox.ua/" class="header__logo header__logo_mob header__logo_mob-white"
            ><img src="@img/logo-white.svg" alt="logo"
         /></a>
         <button type="button" class="header__burger icon-menu"><span></span></button>
      </div>
   </div>
</header>
