// Шрифты ===========================================================================================================================================================================================================================================================================
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,regular,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2:700&display=swap');
// Шрифт по умолчанию==============================================================================================================================================================================================================================================================================
$fontFamily: 'Open Sans';
$fontSize: 18px;
// Цвета
$mainColor: var(--black);

:root {
   --white: #ffffff;
   --black: #212121;
   --gray-50: #494949;
   --blue: #48a7ff;
   --red: #ff3000;
   --purple: #9139a7;
   --pink: #ee1d52;
}
// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null.scss';

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
   min-width: 320px;
   .lock & {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
   .loaded & {
   }
}

//============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   @supports (overflow: clip) {
      overflow: clip;
   }
   > main {
      flex: 1 1 auto;
   }
   > * {
      min-width: 0;
   }
}
//Контейнеры======================================================================================================================================================================================================================

[class*='__container-l'] {
   max-width: 1380px;
   margin: 0 auto;
   padding: 0px 15px;
   height: 100%;
}
[class*='__container-m'] {
   max-width: 1140px;
   margin: 0 auto;
   padding: 0px 15px;
   height: 100%;
}

//Подключение UI
@import './ui/common.scss';
//Подключение компонентов
@import './components/header.scss';
@import './components/footer.scss';
// Подключение страниц
@import './home.scss';
